// Eww colors for Aing rice
$bg: #161a22;
$bg-alt: #262c3a;
$fg: #cadee7;
$black: #1e232e;
$lightblack: #2d3546;
$red: #927887;
$blue: #D2ACA9;
$cyan: #99A9CC;
$magenta: #E3C4BA;
$green: #6E91BA;
$yellow: #A393A2;
$archicon: #0f1116;
