// Eww colors for Siduru rice
$bg: #e9eae3;
$bg-alt: #eac6a9;
$fg: #0c0e1a;
$black: #181e1c;
$lightblack: #aaa39a;
$red: #838382;
$blue: #EAD4BA;
$cyan: #ECDDC1;
$magenta: #97D4E1;
$green: #A29E9D;
$yellow: #BEB7B2;
$archicon: #0A9CF5;
