// Rofi colors for Aing

* {
    font: "Terminess Nerd Font Mono Bold 10";
    background: #161a22;
    background-alt: #161a22E0;
    foreground: #cadee7;
    selected: #E3C4BA;
    active: #6E91BA;
    urgent: #927887;
    img-background: url("~/.config/bspwm/rices/aing/rofi.webp", width);
    main-bg: #161a22E0;
    main-fg: #cadee7;
    main-fg-alt: #161a22E0;
    select-bg: #E3C4BA;
    select-fg: #161a22;
}
